
/* responsive - phone - 350px max width */

.phone .introductionWrapper {
  background-color: #0b0c10;
}

.phone .photo-container {
  background-color: #2c2f3a;
}

/* fade in animation - on page load */
.phone .introductionPhotoWrapper.zeroOpacity {
  opacity: 0;
}

.phone .introductionPhotoWrapper {
  transition: opacity 0.7s ease-in;
  opacity: 1;
}

.phone .photo-container {
  height: 208px;
}

.phone .introductionPhotoWrapper img {
  transform: scale(0.4);
}

/* before the introduction - add empty space block */
.phone .emptyBlock {
  height: 100px;
}

/* container */
.phone .introductionDescriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 440px;

  background-color: #1e2730;

  position: relative; /* above particles */
}

.phone .introductionDescriptionWrapper {
  width: 350px;

  display: flex;
  flex-direction: column;
}

.phone .introductionDescriptionHeader {
  color: #c7c562;
  font-size: 2em;
  font-family: "TypographExtraBold";

  display: flex;
  flex-direction: column;

  border-left: 2px solid #5e5b16;
}

.phone .introductionDescriptionHeader > span {
  margin-left: 0.5em;
}

.phone .introductionDescription {
  color: #b8b8b8;
  font-size: 0.875em;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5em;

  display: flex;

  min-height: 21px;
  margin-left: 0.5em;
}

.phone .introductionDescAndResumeWrapper {
  display: flex;
  margin-top: 1.75em;
}

/* resume button */
.phone .resumeButton {

  /* no longer absolute position - place under desc */
  position: relative;

  /* border + transparent background */
  background: none;
  border: 0.2em solid #d3a29b;

  /* button size */
  height: 3em;
  width: 8em;

  /* font */
  font-family: "TypographLight";
  font-size: 0.875em;
  font-weight: bold;
  color: #b8b8b8;

  /* similar to float: right */
  margin-left: auto;
  order: 2;

  margin-right: 0.5em;
}

.phone .resumeButton::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #1e2730;
  height: 0.3em;
  right: 20%;
  top: -0.21em;
  transform: skewX(-45deg);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.phone .resumeButton::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #1e2730;
  height: 0.3em;
  left: 20%;
  bottom: -0.25em;
  transform: skewX(-45deg);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.phone .resumeButton:hover::before {
  right: 80%;
}

.phone .resumeButton:hover::after {
  left: 80%;
}

.phone .resumeButton:focus {
  /* remove blue outline */
  outline: 0;
}
