
.desktop .introductionWrapper {
  background-color: #0b0c10;
}

.desktop .photo-container {
  background-color: #2c2f3a;
}

/* fade in animation - on page load */
.desktop .introductionPhotoWrapper.zeroOpacity {
  opacity: 0;
}

.desktop .introductionPhotoWrapper {
  transition: opacity 0.7s ease-in;
  opacity: 1;

  margin-bottom: 6em;
}

/* container */
.desktop .introductionDescriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 280px;
  padding-top: 4em;
  padding-bottom: 4em;

  background-color: #1e2730;
  margin-top: 540px;
  margin-bottom: 70px;
}

.desktop .introductionDescriptionWrapper {
  width: 1400px;
}

.desktop .introductionDescriptionHeader {
  color: #c7c562;
  font-size: 4em;
  font-family: "TypographExtraBold";
}

.desktop .introductionDescription {
  color: #b8b8b8;
  font-size: 1.25em;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 90px;
}

/* resume button */
.desktop .introductionDescriptionWrapper {
  min-width: 1400px;
  min-height: 180px;
  text-align: center;
  
  position: relative; /* allows us to give resume button an abs position */
}

.desktop .resumeButton {
  /* position bottom right corner */
  position: absolute;
  bottom: 0;
  right: 0;
  
  /* border + transparent background */
  background: none;
  border: 0.2em solid #d3a29b;

  /* button size */
  height: 3.4em;
  width: 9em;

  /* font */
  font-family: "TypographLight";
  font-size: 1.125em;
  font-weight: bold;
  color: #b8b8b8;
}

.desktop .resumeButton::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #1e2730;
  height: 0.3em;
  right: 20%;
  top: -0.21em;
  transform: skewX(-45deg);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.desktop .resumeButton::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #1e2730;
  height: 0.3em;
  left: 20%;
  bottom: -0.25em;
  transform: skewX(-45deg);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.desktop .resumeButton:hover::before {
  right: 80%;
}

.desktop .resumeButton:hover::after {
  left: 80%;
}

.desktop .resumeButton:focus {
  /* remove blue outline */
  outline: 0;
}
