
.introductionWrapper {
  background-color: #0b0c10;
}

.photo-container {
  background-color: #2c2f3a;
}

/* fade in animation - on page load */
.introductionPhotoWrapper.zeroOpacity {
  opacity: 0;
}

.introductionPhotoWrapper {
  transition: opacity 0.7s ease-in;
  opacity: 1;

  margin-bottom: 6em;
}

/* container */
.introductionDescriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 280px;
  padding-top: 4em;
  padding-bottom: 4em;

  background-color: #1e2730;
  margin-top: 540px;
  margin-bottom: 70px;
}

.introductionDescriptionWrapper {
  width: 1400px;
}

.introductionDescriptionHeader {
  color: #c7c562;
  font-size: 4em;
  font-family: "TypographExtraBold";
}

.introductionDescription {
  color: #b8b8b8;
  font-size: 1.25em;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 90px;
}
