@font-face {
  font-family: "TypographExtraBold";
  src: url("../../fonts/TYPOGRAPH PRO Extra Bold.ttf");
}

@font-face {
  font-family: "TypographUltraLight";
  src: url("../../fonts/TYPOGRAPH PRO Ultra Light.ttf");
}

.slideshowWrapper {
  height: 940px;
  background-image: linear-gradient(#0b0c10, #19282c);
}

.each-fade > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* container */
.imageDescriptionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageDescriptionWrapper {
  width: 1600px;
}

/* align items at bottom */
.imageHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.imageDescriptionHeader {
  color: #c7c562;
  font-size: 4em;
  font-family: "TypographExtraBold";

}

.imageShortDescription {
  color: #c7c562;
  font-size: 2.25em;
  
}

.imageDescription {
  color: #b8b8b8;
  font-size: 1.25em;
  font-family: 'Courier New', Courier, monospace;
}