
/* responsive - phone - 375px max width */

.phone .contactWrapper {
  min-height: 540px;
  background-color: #c3bf87;
  
  display: flex;
  justify-content: center;
  align-items: center;    /* vertical centering */

  flex-direction: column; /* separate icons on new line */  

  position: relative;     /* above particles */
}

/* ContactIcons.js */
.phone .contactIconsWrapper {
  display: flex;
  flex-direction: column;
}

.phone .iconWrapper {
  /* on page load, fade icons */ 
  transition: all 0.7s ease-in;
  opacity: 1;
}

.phone .iconWrapper.zeroOpacity {
  opacity: 0;
}

.phone .iconWrapper:hover {
  cursor: pointer;
}

/* ContactHeader.js */
.phone .contactHeaderContainer {
  min-height: 88px;
}

.phone .contactHeaderWrapper {
  width: 375px;
  margin-bottom: 0.5em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-bottom: 1em;
  border-bottom: 2px solid #939ed4;
}

.phone .contactHeader {
  color: #242736;
  font-size: 2em;
  font-family: "TypographExtraBold";
}

.phone .contactEmail {
  color: #242736;
  font-size: 1.25em;
  font-style: italic;
}
