@font-face {
  font-family: "TypographExtraBold";
  src: url("../../fonts/TYPOGRAPH PRO Extra Bold.ttf");
}

.desktop .headerWrapper {
  position: fixed;
  width: 100%;
  background-color: #22242e;

  font-family: "TypographExtraBold";
  z-index: 2; /* keep above slideshow - increment if any issues */

  /* container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop .headerWrapper header {
  width: 1400px;
}

/* align divs along same line */
.desktop .headerWrapper header, .desktop .headerLinksWrapper {
  display: flex;
}

.desktop .headerLinksWrapper {
  margin-left: auto;
}

/* vertical center links - works with flex display */
.desktop .headerLinksWrapper, .desktop .nameTextWrapper {
  align-self: center;
}

.desktop .nameTextWrapper {
  color: #c7c562;
  font-size: 1.75em;
}

.desktop .selfieThumbnailWrapper {
  margin-right: 1em;
}

.desktop .headerLinkWrapper > a {
  margin-left: 2em;
}

.desktop .headerLinkWrapper:first-child {
  border-right: 2px solid #5e5b16;
}

.desktop .headerLinkWrapper:first-child > a {
  margin-right: 2em;
}

.desktop #homeLink, .desktop #homeLink > a {
  margin-right: 0;
  border-right: 0;
}

/* links */
.desktop .headerLinkWrapper > a {
  color: #c7c562;
  font-size: 1.75em;
  text-decoration: none;
}

.desktop .headerLinkWrapper > a:hover {
  color: #9c9b50;
}

.desktop .nameTextWrapper a {
  color: #c7c562;
  text-decoration: none;
}

.desktop .nameTextWrapper a:hover {
  color: #9c9b50;
}

/* showHeader transtion - fade + move out */
.desktop #headerWrapper {
  transition: all 0.7s ease;
  margin-top: 0px;
  opacity: 1;
}

.desktop #headerWrapper.closeHeader {
  margin-top: -80px;
  opacity: 0;
}
