@font-face {
  font-family: "TypographExtraBold";
  src: url("../../fonts/TYPOGRAPH PRO Extra Bold.ttf");
}

.headerWrapper {
  position: fixed;
  width: 100%;
  background-image: linear-gradient(#38424e, #0b0c10);

  font-family: "TypographExtraBold";
}

/* align divs along same line */
.headerWrapper header, .headerLinksWrapper {
  display: flex;
}

.headerLinksWrapper {
  margin-left: auto;
}

/* vertical center links - works with flex display */
.headerLinksWrapper, .nameTextWrapper {
  align-self: center;
}

.nameTextWrapper {
  color: #66fcf1;
  font-size: 1.75em;
}

.selfieThumbnailWrapper {
  margin: 0.25em 1em;
}

.headerLinkWrapper {
  margin-right: 1.75em;
  margin-left: 0.5em;
}

/* links */
.headerLinkWrapper > a {
  color: #66fcf1;
  font-size: 1.75em;
  text-decoration: none;
}

.headerLinkWrapper > a:hover {
  color: #45a29e;
}

.nameTextWrapper a {
  color: #66fcf1;
  text-decoration: none;
}

.nameTextWrapper a:hover {
  color: #45a29e;
}

/* showHeader transtion - fade + move out */
#headerWrapper {
  transition: all 0.7s ease;
  margin-top: 0px;
  opacity: 1;
}

#headerWrapper.closeHeader {
  margin-top: -80px;
  opacity: 0;
}
