
.headerWrapper {
  position: fixed;
  width: 100%;
}

/* align divs along same line */
.headerWrapper header, .headerLinksWrapper {
  display: flex;
}

.headerLinksWrapper {
  margin-left: auto;
}

/* vertical center links - works with flex display */
.headerLinksWrapper, .nameTextWrapper {
  align-self: center;
}

.nameTextWrapper {
  color: rgb(211, 211, 211);
  font-size: 1.75em;
  font-weight: bold;
}

.selfieThumbnailWrapper {
  margin: 0.25em 1em;
}

.headerLinkWrapper {
  margin-right: 1.5em;
  margin-left: 0.5em;
}

/* links */
.headerLinkWrapper > a {
  color: rgb(211, 211, 211);
  font-size: 1.75em;
  font-weight: bold;
  text-decoration: none;
}

.headerLinkWrapper > a:hover {
  color: rgb(160, 160, 160);
}

.nameTextWrapper a {
  color: rgb(211, 211, 211);
  text-decoration: none;
}

.nameTextWrapper a:hover {
  color: rgb(160, 160, 160);
}

/* showHeader transtion - fade + move out */

.showHeader-enter {
  opacity: 0.01;
}

.showHeader-enter.showHeader-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.showHeader-leave {
  opacity: 1;
}

.showHeader-leave.showHeader-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
