/* Contact.js */
.contactWrapper {
  min-height: 540px;
  background-color: #c3bf87;
  
  display: flex;
  justify-content: center;
  align-items: center;    /* vertical centering */

  flex-direction: column; /* separate icons on new line */  

  margin-top: -360px;
  
  position: relative;     /* above particles */
}

/* ContactIcons.js */
.contactIconsWrapper {
  display: flex;  
}

.iconWrapper {
  /* may need to tighten up the margin if more icons added */
  margin-left: 8em;
  margin-right: 8em;

  /* on page load, fade icons */ 
  transition: all 0.7s ease-in;
  opacity: 1;
}

.iconWrapper.zeroOpacity {
  opacity: 0;
}

.iconWrapper:hover {
  cursor: pointer;
}

/* ContactHeader.js */
.contactHeaderContainer {
  min-height: 122px;
}

.contactHeaderWrapper {
  width: 1400px;
  margin-bottom: 2em;

  /* align texts on same baseline (bottom) */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.contactHeader {
  color: #242736;
  font-size: 4em;
  font-family: "TypographExtraBold";
}

.contactEmail {
  color: #242736;
  font-size: 2.25em;
  font-style: italic;
}
